<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>主页</title>
<%-include('header.ejs')%>
</head>
<body>
	<%-include('nav.ejs')%>
	<br>

	<div class="container">
		<div class="row">
			<div class="col-2">
				<%-include('left.ejs')%>
			</div>
			<div class="col-7">
				
				<% if(page == 1) { %>
				<div class="jumbotron jumbotron-fluid">
					  <div class="container">
					    <h1 class="display-4"><i class="fa fa-flag fa-x pull-left"></i>欢迎来到校园社区！</h1>
					    
					    <hr class="my-4">
					    <p class="lead">热爱你的热爱</p>
					  </div>
					</div>
				<% } %>
				<div class="card">
				  <div class="card-header">
				    主页
				  </div>
                  <div class="container">
                    <nav aria-label="Page navigation example">
                      <ul class="pagination">
                          <% if(page > 1) { %>
                        <li class="page-item"><a class="page-link" href="home?page=<%= Number(page) - 1%>">上一页</a></li>
                        <% } %>
                        <li class="page-item"><a class="page-link" href="#bottom"><%=page%></a></li>
                        <% if(page < mostPage) { %>
                        <li class="page-item"><a class="page-link" href="home?page=<%= Number(page) + 1 %>">下一页</a></li>
                        <% } %>
                      </ul>
                    </nav>
                </div>
                <hr>
				  <div class="card-body">
					    
					 <ul class="list-group list-group-flush">
					
                    <% for(var i = (page - 1) * 10; i < publishList.length && i < (page - 1) * 10 + 10; i++) {%>
					<li class="list-group-item"><br>
					<div class="media">
						  <a href="userInfo?username=<%=publishList[i].username%>"><img class="mr-3" src="upload/<%=publishList[i].user[0].headimg%>" alt="Generic placeholder image" height=64px width=64px></a>
						  <div class="media-body">
						    <a href="userInfo?username=<%=publishList[i].username%>"><h5 class="mt-0"><%=publishList[i].username%></h5></a>
						    <%=publishList[i].text%>
						  
						  <br>
						  	<% if(publishList[i].img != null){ %>
						  	
								<div class="media mt-3">
							        <a href="upload/<%=publishList[i].img%>" target="_blank"><img src="upload/<%=publishList[i].img%>" alt="Generic placeholder image" height=200px></a>
							    </div>
							<% } %>
							<br>
						  <p><%=publishList[i].time%></p>
						  	<div><button type="button" id="btn<%=i%>" class="btn btn-sm btn-outline-dark" name="<%= publishList[i]._id %>">评论</button></div>
                            
						  	
						  	<ul class="list-group list-group-flush">
                            <% for(var j = 0; j < publishList[i].comment.length; j++) {%>
						  		<li class="list-group-item"><br>
						  		<div class="media">
								  <a href="userInfo?username=<%=publishList[i].comment[j].username%>"><img class="mr-3" src="upload/<%=publishList[i].comment[j].headimg%>" alt="Generic placeholder image" height=48px width=48px></a>
								  <div class="media-body">
								    <a href="userInfo?username=<%=publishList[i].comment[j].username%>"><h5 class="mt-0"><%=publishList[i].comment[j].username%></h5></a>
								    <%=publishList[i].comment[j].comment%>
								  </div>
								  <% if(publishList[i].comment[j].username == user.username || user.username == "admin") { %>
										<a type="button" class="btn btn-outline-danger" href="delComment?id=<%=publishList[i].comment[j]._id%>"><i class="fa fa-trash-o" aria-hidden="true"></i> 删除</a>
									<% } %>
								</div>
								</li>
						  	<% } %>
						  	</ul>
						  	
						  </div>
						  <% if(publishList[i].username == user.username || user.username == "admin") { %>
								<a type="button" class="btn btn-outline-danger" href="delPublish?id=<%=publishList[i]._id%>"><i class="fa fa-trash-o" aria-hidden="true"></i> 删除</a>
                            <% } %>
							</div>
						
					</li>
				<%}%>
				
				</ul>
				<div class="container">
				<nav aria-label="Page navigation example">
				  <ul class="pagination">
				  	<% if(page > 1) { %>
				    <li class="page-item"><a class="page-link" href="home?page=<%= Number(page) - 1%>">上一页</a></li>
				    <% } %>
				    <li class="page-item"><a class="page-link" href="#bottom"><%=page%></a></li>
				    <% if(page < mostPage) { %>
				    <li class="page-item"><a class="page-link" href="home?page=<%= Number(page) + 1 %>">下一页</a></li>
				    <% } %>
				  </ul>
				</nav></div>
				  </div>
				</div>
			
			</div>
			<div class="col-3">
				<%-include('right.ejs')%>
			</div>
		</div>
	</div>
	<%-include('footer.ejs')%>
	
	<script type="text/javascript">
        $(function(){
            //页面加载完毕后开始执行的事件
            var btn0 = document.getElementById("btn0");
            btn0.onclick = function (){
                var id = btn0.name;
                $(this).attr('disabled', 1);
                $(this).parent().append("<div class=comment_textarea1><form method=post action=doComment?id="+ id +"><textarea cols='50' rows='4' name='comment'></textarea><br/><button type=submit id=btn class=btn>评论</button><button id=btncancel class=btn>取消</button></form></div>");
                var btncancel = document.getElementById("btncancel");
                btncancel.onclick = function (){
                    $(".comment_textarea1").remove();
                    $(btn0).removeAttr("disabled");
                }
            }

            var btn1 = document.getElementById("btn1");
            btn1.onclick = function (){
                var id = btn1.name;
                $(this).attr('disabled', 1);
                $(this).parent().append("<div class=comment_textarea1><form method=post action=doComment?id="+ id +"><textarea cols='50' rows='4' name='comment'></textarea><br/><button type=submit id=btn class=btn>评论</button><button id=btncancel class=btn>取消</button></form></div>");
                var btncancel = document.getElementById("btncancel");
                btncancel.onclick = function (){
                    $(".comment_textarea1").remove();
                    $(btn1).removeAttr("disabled");
                }
            }
            
            var btn2 = document.getElementById("btn2");
            btn2.onclick = function (){
                var id = btn2.name;
                $(this).attr('disabled', 1);
                $(this).parent().append("<div class=comment_textarea1><form method=post action=doComment?id="+ id +"><textarea cols='50' rows='4' name='comment'></textarea><br/><button type=submit id=btn class=btn>评论</button><button id=btncancel class=btn>取消</button></form></div>");
                var btncancel = document.getElementById("btncancel");
                btncancel.onclick = function (){
                    $(".comment_textarea1").remove();
                    $(btn2).removeAttr("disabled");
                }
            }
            
            var btn3 = document.getElementById("btn3");
            btn3.onclick = function (){
                var id = btn3.name;
                $(this).attr('disabled', 1);
                $(this).parent().append("<div class=comment_textarea1><form method=post action=doComment?id="+ id +"><textarea cols='50' rows='4' name='comment'></textarea><br/><button type=submit id=btn class=btn>评论</button><button id=btncancel class=btn>取消</button></form></div>");
                var btncancel = document.getElementById("btncancel");
                btncancel.onclick = function (){
                    $(".comment_textarea1").remove();
                    $(btn3).removeAttr("disabled");
                }
            }
            
            var btn4 = document.getElementById("btn4");
            btn4.onclick = function (){
                var id = btn4.name;
                $(this).attr('disabled', 1);
                $(this).parent().append("<div class=comment_textarea1><form method=post action=doComment?id="+ id +"><textarea cols='50' rows='4' name='comment'></textarea><br/><button type=submit id=btn class=btn>评论</button><button id=btncancel class=btn>取消</button></form></div>");
                var btncancel = document.getElementById("btncancel");
                btncancel.onclick = function (){
                    $(".comment_textarea1").remove();
                    $(btn4).removeAttr("disabled");
                }
            }
            
            var btn5 = document.getElementById("btn5");
            btn5.onclick = function (){
                var id = btn5.name;
                $(this).attr('disabled', 1);
                $(this).parent().append("<div class=comment_textarea1><form method=post action=doComment?id="+ id +"><textarea cols='50' rows='4' name='comment'></textarea><br/><button type=submit id=btn class=btn>评论</button><button id=btncancel class=btn>取消</button></form></div>");
                var btncancel = document.getElementById("btncancel");
                btncancel.onclick = function (){
                    $(".comment_textarea1").remove();
                    $(btn5).removeAttr("disabled");
                }
            }
            
            var btn6 = document.getElementById("btn6");
            btn6.onclick = function (){
                var id = btn6.name;
                $(this).attr('disabled', 1);
                $(this).parent().append("<div class=comment_textarea1><form method=post action=doComment?id="+ id +"><textarea cols='50' rows='4' name='comment'></textarea><br/><button type=submit id=btn class=btn>评论</button><button id=btncancel class=btn>取消</button></form></div>");
                var btncancel = document.getElementById("btncancel");
                btncancel.onclick = function (){
                    $(".comment_textarea1").remove();
                    $(btn6).removeAttr("disabled");
                }
            }
            
            var btn7 = document.getElementById("btn7");
            btn7.onclick = function (){
                var id = btn7.name;
                $(this).attr('disabled', 1);
                $(this).parent().append("<div class=comment_textarea1><form method=post action=doComment?id="+ id +"><textarea cols='50' rows='4' name='comment'></textarea><br/><button type=submit id=btn class=btn>评论</button><button id=btncancel class=btn>取消</button></form></div>");
                var btncancel = document.getElementById("btncancel");
                btncancel.onclick = function (){
                    $(".comment_textarea1").remove();
                    $(btn7).removeAttr("disabled");
                }
            }
            
            var btn8 = document.getElementById("btn8");
            btn8.onclick = function (){
                var id = btn8.name;
                $(this).attr('disabled', 1);
                $(this).parent().append("<div class=comment_textarea1><form method=post action=doComment?id="+ id +"><textarea cols='50' rows='4' name='comment'></textarea><br/><button type=submit id=btn class=btn>评论</button><button id=btncancel class=btn>取消</button></form></div>");
                var btncancel = document.getElementById("btncancel");
                btncancel.onclick = function (){
                    $(".comment_textarea1").remove();
                    $(btn8).removeAttr("disabled");
                }
            }
            
            var btn9 = document.getElementById("btn9");
            btn9.onclick = function (){
                var id = btn9.name;
                $(this).attr('disabled', 1);
                $(this).parent().append("<div class=comment_textarea1><form method=post action=doComment?id="+ id +"><textarea cols='50' rows='4' name='comment'></textarea><br/><button type=submit id=btn class=btn>评论</button><button id=btncancel class=btn>取消</button></form></div>");
                var btncancel = document.getElementById("btncancel");
                btncancel.onclick = function (){
                    $(".comment_textarea1").remove();
                    $(btn9).removeAttr("disabled");
                }
            }
        });
    </script>

</body>
</html>